allow-hotplug {{ thunderbolt_interfaces[0] }}
iface {{ thunderbolt_interfaces[0] }} inet manual
    mtu 65536

allow-hotplug {{ thunderbolt_interfaces[1] }}
iface {{ thunderbolt_interfaces[1] }} inet manual
    mtu 65536
