apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    deployment:
      replicas: 3
    additionalArguments:
     # 10.42.0.0/8 is the flannel subnet that all connections into the cluster
     # via metallb appear to come from. 
     - "--entrypoints.web.proxyProtocol.trustedIPs=10.42.0.0/8"
     - "--entrypoints.websecure.proxyProtocol.trustedIPs=10.42.0.0/8"
     - "--entrypoints.kubernetes.address=:6443/tcp"
     - "--entrypoints.brain-ssh.address=:2222/tcp"
    ports:
      kubernetes:
        port: 6443
        expose: 
          default: true
        exposedPort: 6443
        protocol: TCP
        tls:
          enabled: true
      brain-ssh:
        port: 2222
        expose:
          default: true
        exposedPort: 2222
        protocol: TCP
        tls:
          enabled: false
    logs:
      access:
        enabled: true
    service:
      annotations:
        dns.pfsense.org/hostname: traefik.lupinelab.co.uk,tk3s.lupinelab.co.uk
